version: "2"
services:
  cassandra:
    image: cassandra:3.9
    network_mode: host    
    volumes:
      - ./volumes/cassandra/var:/var/lib/cassandra
  zookeeper:
    image: zookeeper:3.4.9
    network_mode: host
    restart: always
  mesos-master:
    image: mesosphere/mesos-master:1.0.3-rc1
    network_mode: host
    environment:
      - MESOS_PORT=5050
      - MESOS_ZK=zk://127.0.0.1:2181/mesos
      - MESOS_QUORUM=1
      - MESOS_REGISTRY=in_memory
      - MESOS_LOG_DIR=/var/log/mesos
      - MESOS_WORK_DIR=/var/tmp/mesos
    volumes:
      - ./volumes/log/mesos:/var/log/mesos"
      - ./volumes/tmp/mesos:/var/tmp/mesos"
  mesos-slave:
    image: mesosphere/mesos-slave:1.0.3-rc1
    network_mode: host
    privileged: true
    restart: always
    environment:
      - MESOS_PORT=5051
      - MESOS_MASTER=zk://127.0.0.1:2181/mesos
      - MESOS_SWITCH_USER=0
      - MESOS_CONTAINERIZERS=docker,mesos
      - MESOS_LOG_DIR=/var/log/mesos
      - MESOS_WORK_DIR=/var/tmp/mesos
    volumes:
      - ./volumes/log/mesos:/var/log/mesos
      - ./volumes/tmp/mesos:/var/tmp/mesos
      - /var/run/docker.sock:/var/run/docker.sock
      - /cgroup:/cgroup
      - /sys:/sys
      - /usr/local/bin/docker:/usr/local/bin/docker
  marathon:
    image: mesoscloud/marathon:1.1.1
    network_mode: host
    restart: always
    environment:
      - MARATHON_HOSTNAME=127.0.0.1
      - MARATHON_HTTPS_ADDRESS=127.0.0.1
      - MARATHON_HTTP_ADDRESS=127.0.0.1
      - MARATHON_MASTER=zk://127.0.0.1:2181/mesos
      - MARATHON_ZK=zk://127.0.0.1:2181/marathon
  download-server:
    build: images/download-server
    ports: 
      - 9999:80
